apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: portfolio

commonLabels:
  app: portfolio
  managed-by: argocd

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml

images:
  - name: ogash3103/devops-portfolio
    newTag: latest
