apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

commonLabels:
  app: devops-portfolio

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - hpa.yaml
