apiVersion: v1
kind: Service
metadata:
  name: portfolio
  labels:
    app: portfolio
spec:
  type: {{ .Values.service.type }}
  selector:
    app: portfolio
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
