replicaCount: 1

image:
  repository: ogash3103/devops-portfolio
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: nginx
  host: portfolio.local
  path: /
  pathType: Prefix

probes:
  liveness:
    enabled: true
    path: /
    initialDelaySeconds: 10
    periodSeconds: 20
  readiness:
    enabled: true
    path: /
    initialDelaySeconds: 3
    periodSeconds: 10

resources: {}
