replicaCount: 1

image:
  repository: docker.io/ogash3103/devops-portfolio
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  host: portfolio.local
  path: /
