replicaCount: 1

image:
  repository: ogabek0331/devops-portfolio
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: nginx
  host: portfolio.local
  path: /


resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
